/* .btn {
  display: block;
  width: 164px;
  height: 60px;
  font-size: 20px;
  line-height: 24px;
  background: #fff;
  border: 1px solid #626262;
  margin: 0 auto;
  cursor: pointer;
}
.btn__more {
	margin-top: 165px;
	margin-bottom: 200px;
} */
