/* .form-sign {
  @include flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  position: relative;
  height: 290px;
  background: #f0f0f0;
}
.form__email {
  position: relative;
  width: 400px;
  line-height: 44px;
  background: #f0f0f0;
  border: 0;
  border-bottom: 1px solid black;
  outline: none;	
}
.form__btn:after {
  content: '';
  width: 32px;
  height: 17px;
  position: absolute;
  top: 175px;
  right: 50%;
  margin-right: -200px;
  background: url('../img/arrow_right.png') no-repeat center center;
  z-index: 10;
} */