/* .block {
  width: 420px;
  margin: 95px 0 35px 0;
}
.block-wide {
	width: 100%;
}
.block__img {
	margin-bottom: 30px;
}
.block__theme {
  font-family: 'Ubuntu', sans-serif;
  color: #b4ad9e;
  text-transform: uppercase;
}
.block__title {
  font-size: 30px;
}
.block__comment {
	display: block;
	margin-top: 50px;
} */