/* .page-footer {
  background: #f0f0f0;
}
.footer-container {
  @include flex;
  justify-content: space-between;
  align-items: center;
  width: 1060px;
  height: 100px;
  margin: 0 auto;
}
.footer-menu-list:first-child {
  margin-left: 80px;
}
.footer-menu-link {
  color: #000;
  text-transform: none;
  margin-right: 20px;
}
.footer-social {
  display: block;
  position: relative;
  font-size: 0;
  width: 18px;
  height: 18px;
  margin-right: 20px;
}
.social-fb {
  background: url('../img/icons_fb.png') no-repeat center center;
}
.social-tw {
  background: url('../img/icons_tw.png') no-repeat center center;
}
.social-in {
  background: url('../img/icons_in.png') no-repeat center center;
} */